@page-background: #F2F2F2;
@page-text-colour: #888888;
@page-font-size: 14px;
@border-colour: #CCCCCC;


.plain-list{
    list-style: none;
	li{
		 padding: 5px 0px 5px 0px;
	}
}

.rounded {
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

html{
    background: none repeat scroll 0 0 @page-background;
}

body {
//    font-family: 'Lato', sans-serif;
    font-family: 'Cabin', sans-serif;
    margin: 0px auto;
}

p{
    color: @page-text-colour;
    font-size: @page-font-size;
}

h1, h2{
    font-weight: normal;
    font-family: 'Alegreya SC', serif;
    color: @page-text-colour + #1111111;
}

#headlines{
    ul{
        .plain-list;
    }
}
section{
	border-bottom : 1px @border-colour solid;
	padding-top: 5px;
	padding-bottom: 5px;
}

#highlights  {
	ul {
		.plain-list;	
	}
	section{
		border-bottom : none;
	}
	article p{
		font-size: @page-font-size + 2px;
	}
	
	#highlights-articles {
		padding-left: 25px;
		border-left: 1px @border-colour solid;
		min-height: 200px;
		
		article {
			display:none;
		}
		
		article.selected{
			display:block;
		}
	}
	#highlights-menu {
		font-size: @page-font-size + 5px;
		li:hover{
			cursor:pointer;
		}
	}
}

#news {
    padding-top: 20px;
    article{
//        .rounded;
        padding:5px;
        height:200px;
        border-right: 1px @border-colour solid;

        header{
            text-align: left;
			border-bottom: none;
            h1{
                font-weight: normal;
                font-size: @page-font-size + 20px;
            }
        }
    }
}

header {
    #logo{
//        float: left;
//        width: 500px;
        height: 100px;
    }

    #title{
//        float:left;
        h1{
            font-size: @page-font-size + 20px;
        }
        h2{
            font-size: @page-font-size + 15px;
        }
    }
}

footer{
    margin-top:20px;
    border-color: @border-colour;
    border-style:solid;
    border-width: 1px 0;
    text-align: center;
}


nav {
    text-transform: uppercase;
    ul {
        .plain-list;

        li {
            float: left;
            display: inline;
            width: 12.5%;
        }
    }
}

